global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'gateway'
    static_configs:
      - targets: ['gateway:5000']

  - job_name: 'backend'
    static_configs:
      - targets: ['backend:5000']

rule_files:
  - "alert.rules"

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093
